* {
    margin: 0 auto;
}
.wrap {
    display: flex;
    justify-content: start;
}
.section1, .section2 {
    margin: 5px auto;

}

div {
    display: block;
    background-color: azure;
    padding: 10px;
    text-align: center;
    font-size: 28px;    
    margin: 5px;
}

.out1, .out2, .out3, .out4, .out5, .out6, .out7 {
    text-align: center;    
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color:  olivedrab;
}
.out_1, .out_2, .out_3, .out_4, .out_5, .out_6, .out_7 {
    text-align: center;
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: olivedrab;
}
.out_2 {
    
    width: 800px;
    border-bottom: 3px solid #000;
    background: rgb(206, 180, 180);

}
.squad {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: orangered;
    margin: 0;
    padding: 0;

}
